<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>HELLO ONCE AGAIN</h1>
<!--    <h1> <span th:text="${name}"> </span> First line in Thymelefe</h1>-->
<!--    <h2 th:text="${#strings.length(name)}"></h2>-->
<!--    <h2 th:text="${#strings.toUpperCase(name)}"></h2>-->

<!--&lt;!&ndash;    conditional operator&ndash;&gt;-->
<!--    <h1>user is-->
<!--        <span th:style="${isActive} ? 'color:green':'color:red'" th:text="${isActive} ? 'ACTIVE':'NOT ACTIVE'"></span></h1>-->

<!--&lt;!&ndash;    if-Unless&ndash;&gt;-->

<!--    <h1 th:if="${age}<=18">Not Allow to voting</h1>-->
<!--    <h1 th:unless="${age}<=18">Allow to voting</h1>-->


</body>
</html>